
body
{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #bce5de;
  line-height: 2 ;
}
.profile
{
  margin-top: 100px;
}
.skill-row
{
  margin: 0;
  height: 70;
  width: 70;
}
.natureview
{
  background-color:rgb(156, 217, 253) ;
}
.skill
{
  position: relative;
  left: 10%;
  height: 600px;
  width: 40%;
}

.comp
{ 
 height: 40%;
 width: 40%;
}

.girl
{
  height: 20%;
  width: 20%;
}


.mid-countainer
{
  margin: 0px 200px 0px;
}

hr
{
  
    border-style:dotted none none;
    border-top-style:dotted;
    size: 1px;
    border-color:rgb(111, 114, 136);
    border-width: 10px;
    width:5%;
    margin: 25px 48% 25px;
}


h1
{
  margin:auto;
  font-size: 6.25em;
  font-family: 'Sacramento', cursive;
   font-weight: normal;
   line-height: 2;
  color: #66BFBF;
}

h2
{  
  margin: 100 0 100;
  color: #11999E;
  font-family: 'Averia Serif Libre', cursive;
}

h3
{
  font-family: 'Averia Serif Libre', cursive;
  color : #11999E;
}

.cloud1
{
  position: absolute;
  left: 300px;
}

.cloud2
{
  position: absolute;
  right: 300px;
}

.mountain
{
  margin: 0 25% 0;
  height: 50%;
  width: 50%;
  position: relative;
  top: 10px;
}

.bottom-container
{
  padding: 50px 0 20px;
  background-color: #43bcc0; 
  margin-top: 100px;
  height: 50px;
  margin-bottom: 0;
}

a
{
  font-family: 'Roboto', sans-serif;
  color: #149aa1;
  text-decoration: none;
}
a:hover
{
  color: #d7ebec;
}
.name
{
  color: white;
  background-color: #43bcc0; 
}
.link
{
 font-family: 'Averia Serif Libre', cursive;
 position: relative;
 padding: 0 30px 0;

}
.footer-link
{
 font-family: 'Averia Serif Libre', cursive;
 position: relative;
 padding: 0 30px 0;

}

.skill1
{
 position: relative;
 left: 100%;
 bottom: 150px;
 height: 40%;
  width: 40%;
 
}
.text1
{
 position: relative;
 left: 100%;
 bottom: 250px;
 margin-bottom: 0;


 
}
.contact-me
{
  
  margin-bottom: 0;
}
.text2
{
 position: relative;
 bottom: 400px;
 margin-bottom: 0;

}
.text3
{
  margin-bottom: 50px;
}
.btn
 {
  background: #1f9cf0;
  background-image: -webkit-linear-gradient(top, #1f9cf0,  #192933);
  background-image: -moz-linear-gradient(top, #1f9cf0, #192933);
  background-image: -ms-linear-gradient(top, #1f9cf0, #192933);
  background-image: -o-linear-gradient(top, #1f9cf0, #192933);
  background-image: linear-gradient(to bottom, #1f9cf0, #192933);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom:100px;
  
}

.btn:hover {
  background: #4caae8;
  background-image: -webkit-linear-gradient(top, #4caae8, #0474ba);
  background-image: -moz-linear-gradient(top, #4caae8, #0474ba);
  background-image: -ms-linear-gradient(top, #4caae8, #0474ba);
  background-image: -o-linear-gradient(top, #4caae8, #0474ba);
  background-image: linear-gradient(to bottom, #4caae8, #0474ba);
  text-decoration: none;
}